<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h1 class="text-dark bg-light p-4 mb-0">新規登録</h1>
      <div class="form-body p-4">
        <%= form_with model: @user, url: user_registration_path do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <%= f.text_field :name, autofocus: true, class:"form-control mb-3", placeholder:"ユーザー名"  %>
          <%= f.email_field :email, autocomplete: "email", class:"form-control mb-3", placeholder:"メールアドレス"  %>
          <%= f.password_field :password, autocomplete: "new-password", class:"form-control mb-3", placeholder:"パスワード(6文字以上)" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control mb-4", placeholder:"パスワード確認" %>
          <hr>
          <%= f.submit "登録", class:"btn btn-lg btn-block btn-info mb-3 mt-4" %>
        <% end %>
        <div class="col mx-auto text-center">
          <%= link_to "ログインする", new_user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>